<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Simple Search</title>
    <!-- MOBILE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- MODERNIZR -->
    <!-- <script type="text/javascript" src="javascripts/vendor/modernizr.custom.js"></script> -->

    <!-- STYLES -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/vendor/normalize.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/vendor/skeleton.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/vendor/github.css"> -->

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

<!-- Top Bar -->
<div data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="top-bar-title" >
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <strong>Part Hunt</strong>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">Home</a>
              <ul class="menu vertical">
                <li><a href="#">New Parts</a></li>
                <li><a href="#">Superseded</a></li>
                <li><a href="#">Obsolete</a></li>
              </ul>
            </li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
</div>


    <div class="row">
      <div class="large-12 columns">
        <h1>Auto Parts Search Engine</h1>
      </div>
    </div>

    <div>
      <form>
        <div class="row">
          <div class="medium-12 columns">
            <label>
              <input id="search-hidden-mode" name="search" type="text" placeholder="Search by Make Model Year, Part # or Multiple Interchange" data-list=".hidden_mode_list" data-nodata="No results found" autocomplete="off">
              <ul class="vertical hidden_mode_list no-bullet">
                <li class="origin">2017</li>
                <li class="origin">Acura</li>
                <li><a href="file:///Users/wilsonusman/Desktop/valdez/2017-acura-ilx-24l.html">2017 Acura ILX</a></li>
                <li>2017 Acura MDX</li>
                <li>2017 Acura NSX</li>
                <li>2017 Acura RDX</li>
                <li class="origin">Buick</li>
                <li>2017 Buick Encore</li>
                <li class="origin">BMW</li>
                <li>2017 BMW M2</li>
                <li>2017 BMW M3</li>
                <li>2017 BMW M4</li>
                <li>2017 BMW M5</li>
                <li class="origin">Chevrolet</li>
                <li>2017 Chevrolet Equinox</li>
                <li class="origin">Dodge</li>
                <li>2017 Dodge Challenge</li>
                <li>2017 Dodge Charger</li>
                <li class="origin">GMC</li>
                <li>2017 GMC Sierra</li>
                <li>2017 GMC Tahoe</li>
                <li class="origin">Hyundai</li>
                <li>2017 Hyundai Elantra</li>
                <li>2017 Hyundai Santa Fe</li>
                <li class="origin">Honda</li>
                <li>2017 Honda Accord</li>
                <li>2017 Honda Civic</li>
                <li class="origin">Infiniti</li>
                <li>2017 Infiniti Q30</li>
                <li>2017 Infiniti Q50</li>
                <li class="origin">Volvo</li>
                <li>2017 Volvo XC60</li>
                <li>2017 Volvo XC90</li>
              </ul>
            </label>
        </div>
      </form>
    </div>
    <div>

      <ul class="pages no-bullet">
        <li id="makes_list" class="makes-list makes-list-nd">
            <div class="row">
                <h2>Choose your make</h2>
                <div class="makes medium-12 columns clearfix">
                    <ul>
                        <li><a data-toggle="offCanvasRight"><img id="makeLogo" src="img/acura_96x96.png" alt="Acura" width="24" height="24"> Acura</li>
                        <li><a href="/prices-new/audi/"><img id="makeLogo" src="img/audi_96x96.png" alt="Audi" width="24" height="24"> Audi</a></li>
                        <li><a href="/prices-new/bmw/"><img id="makeLogo" src="img/bmw_96x96.png" alt="BMW" width="24" height="24"> BMW</a></li>
                        <li><a href="/prices-new/buick/"><img id="makeLogo" src="img/buick_96x96.png" alt="Buick" width="24" height="24"> Buick</a></li>
                        <li><a href="/prices-new/cadillac/"><img id="makeLogo" src="img/cadillac_96x96.png" alt="Cadillac" width="24" height="24"> Cadillac</a></li>
                        <li><a href="/prices-new/chevrolet/"><img id="makeLogo" src="img/chevrolet_96x96.png" alt="Chevrolet" width="24" height="24"> Chevrolet</a></li>
                        <li><a href="/prices-new/chrysler/"><img id="makeLogo" src="img/chrysler_96x96.png" alt="Chrysler" width="24" height="24"> Chrysler</a></li>
                        <li><a href="/prices-new/dodge/"><img id="makeLogo" src="img/dodge_96x96.png" alt="Dodge" width="24" height="24"> Dodge</a></li>
                        <li><a href="/prices-new/fiat/"><img id="makeLogo" src="img/fiat_96x96.png" alt="FIAT" width="24" height="24"> FIAT</a></li>
                        </ul><ul><li><a href="/prices-new/ford/"><img id="makeLogo" src="img/ford_96x96.png" alt="Ford" width="24" height="24"> Ford</a></li>
                        <li><a href="/prices-new/gmc/"><img id="makeLogo" src="img/gmc_96x96.png" alt="GMC" width="24" height="24"> GMC</a></li>
                        <li><a href="/prices-new/genesis/"><img id="makeLogo" src="img/genesis_96x96.png" alt="Genesis" width="24" height="24"> Genesis</a></li>
                        <li><a href="/prices-new/honda/"><img id="makeLogo" src="img/honda_96x96.png" alt="Honda" width="24" height="24"> Honda</a></li>
                        <li><a href="/prices-new/hyundai/"><img id="makeLogo" src="img/hyundai_96x96.png" alt="Hyundai" width="24" height="24"> Hyundai</a></li>
                        <li><a href="/prices-new/infiniti/"><img id="makeLogo" src="img/infiniti_96x96.png" alt="Infiniti" width="24" height="24"> Infiniti</a></li>
                        <li><a href="/prices-new/jaguar/"><img id="makeLogo" src="img/jaguar_96x96.png" alt="Jaguar" width="24" height="24"> Jaguar</a></li>
                        <li><a href="/prices-new/jeep/"><img id="makeLogo" src="img/jeep_96x96.png" alt="Jeep" width="24" height="24"> Jeep</a></li>
                        <li><a href="/prices-new/kia/"><img id="makeLogo" src="img/kia_96x96.png" alt="Kia" width="24" height="24"> Kia</a></li>
                        </ul><ul><li><a href="/prices-new/land-rover/"><img id="makeLogo" src="img/land-rover_96x96.png" alt="Land Rover" width="24" height="24"> Land Rover</a></li>
                        <li><a href="/prices-new/lexus/"><img id="makeLogo" src="img/lexus_96x96.png" alt="Lexus" width="24" height="24"> Lexus</a></li>
                        <li><a href="/prices-new/lincoln/"><img id="makeLogo" src="img/lincoln_96x96.png" alt="Lincoln" width="24" height="24"> Lincoln</a></li>
                        <li><a href="/prices-new/mini/"><img id="makeLogo" src="img/mini_96x96.png" alt="MINI" width="24" height="24"> MINI</a></li>
                        <li><a href="/prices-new/maserati/"><img id="makeLogo" src="img/maserati_96x96.png" alt="Maserati" width="24" height="24"> Maserati</a></li>
                        <li><a href="/prices-new/mazda/"><img id="makeLogo" src="img/mazda_96x96.png" alt="Mazda" width="24" height="24"> Mazda</a></li>
                        <li><a href="/prices-new/mercedes-benz/"><img id="makeLogo" src="img/mercedes-benz_96x96.png" alt="Mercedes-Benz" width="24" height="24"> Mercedes-Benz</a></li>
                        <li><a href="/prices-new/mitsubishi/"><img id="makeLogo" src="img/mitsubishi_96x96.png" alt="Mitsubishi" width="24" height="24"> Mitsubishi</a></li>
                        <li><a href="/prices-new/nissan/"><img id="makeLogo" src="img/nissan_96x96.png" alt="Nissan" width="24" height="24"> Nissan</a></li>
                        </ul><ul><li><a href="/prices-new/porsche/"><img id="makeLogo" src="img/porsche_96x96.png" alt="Porsche" width="24" height="24"> Porsche</a></li>
                        <li><a href="/prices-new/ram/"><img id="makeLogo" src="img/ram_96x96.png" alt="Ram" width="24" height="24"> Ram</a></li>
                        <li><a href="/prices-new/scion/"><img id="makeLogo" src="img/scion_96x96.png" alt="Scion" width="24" height="24"> Scion</a></li>
                        <li><a href="/prices-new/subaru/"><img id="makeLogo" src="img/subaru_96x96.png" alt="Subaru" width="24" height="24"> Subaru</a></li>
                        <li><a href="/prices-new/toyota/"><img id="makeLogo" src="img/toyota_96x96.png" alt="Toyota" width="24" height="24"> Toyota</a></li>
                        <li><a href="/prices-new/volkswagen/"><img id="makeLogo" src="img/volkswagen_96x96.png" alt="Volkswagen" width="24" height="24"> Volkswagen</a></li>
                        <li><a href="/prices-new/volvo/"><img id="makeLogo" src="img/volvo_96x96.png" alt="Volvo" width="24" height="24"> Volvo</a></li>
                        <li><a href="/prices-new/smart/"><img id="makeLogo" src="img/smart_96x96.png" alt="smart" width="24" height="24"> smart</a></li>
                    </ul>
                </div>
            </div>
        </li>
      </ul>
    </div>

<div class="off-canvas-wrapper">
    <div class="off-canvas position-right is-transition-push" id="offCanvasRight" data-off-canvas="tgz9r0-off-canvas" data-position="right" aria-hidden="true">
      <!-- Your page content lives here -->
        <div class="off-canvas-wrapper-inner">
          <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
          <nav class="breadcrumbs">
              <a><span data-ng-hide="selectedModel" class="">Good choice. Which </span>Acura <span data-ng-hide="selectedModel" class="">are do you drive?</span></a>
              <a class=""></a>
          </nav>
          <!--[if (gt IE 8)|!(IE)]><!-->
              <ul class="models small-block-grid-2 medium-block-grid-3 no-bullet">
                <li class="ng-scope">
                  <a data-ng-href="/prices-new/acura/ilx-pricing/" href="/prices-new/acura/ilx-pricing/">
                      <figure>
                          <img alt="ILX" src="img/side-acura-ilx.jpeg">
                          <figcaption class="ng-binding">ILX</figcaption>
                      </figure>
                  </a>
              </li>
              <li data-ng-repeat="model in models" class="ng-scope">
                  <a data-ng-href="/prices-new/acura/mdx-pricing/" href="/prices-new/acura/mdx-pricing/">
                      <figure>
                          <img alt="MDX" src="img/side-acura-mdx.jpeg">
                          <figcaption class="ng-binding">MDX</figcaption>
                      </figure>
                  </a>
              </li>
              <li data-ng-repeat="model in models" class="ng-scope">
                  <a data-ng-href="/prices-new/acura/nsx-pricing/" href="/prices-new/acura/nsx-pricing/">
                      <figure>
                          <img alt="NSX" src="img/side-acura-nsx.jpeg">
                          <figcaption class="ng-binding">NSX</figcaption>
                      </figure>
                  </a>
              </li>
              <li data-ng-repeat="model in models" class="ng-scope">
                  <a data-ng-href="/prices-new/acura/rdx-pricing/" href="/prices-new/acura/rdx-pricing/">
                      <figure>
                          <img alt="RDX" src="img/side-acura-rdx.jpeg">
                          <figcaption class="ng-binding">RDX</figcaption>
                      </figure>
                  </a>
              </li>
              <li data-ng-repeat="model in models" class="ng-scope">
                  <a data-ng-href="/prices-new/acura/rlx-pricing/" href="/prices-new/acura/rlx-pricing/">
                      <figure>
                          <img alt="RLX" src="img/side-acura-rlx.jpeg">
                          <figcaption class="ng-binding">RLX</figcaption>
                      </figure>
                  </a>
              </li>
              <li data-ng-repeat="model in models" class="ng-scope">
                  <a data-ng-href="/prices-new/acura/tlx-pricing/" href="/prices-new/acura/tlx-pricing/">
                      <figure>
                          <img alt="TLX" src="img/side-acura-tlx.jpeg">
                          <figcaption class="ng-binding">TLX</figcaption>
                      </figure>
                  </a>
              </li>
          </ul>

      </div>
    </div>
  </div>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <!-- JS -->
    <script type="text/javascript" src="javascripts/vendor/jquery.hideseek.min.js"></script>
    <script type="text/javascript" src="javascripts/vendor/rainbow-custom.min.js"></script>
    <script type="text/javascript" src="javascripts/vendor/jquery.anchor.js"></script>
    <script src="javascripts/initializers.js"></script>
    <!-- JS ends -->

    <!-- <script src="bower_components/jquery/dist/jquery.js"></script> -->
    <script src="bower_components/what-input/dist/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
